body {
    font-family: Arial, sans-serif;
    background-color: #ffe6ef;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #d63384
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 80%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

th {
    background-color: #ff99cc;
    color: white;
}
